.card-body {
  justify-content: space-between;
  width: 18rem;
}

.card-body .btn {
  width: 10%;
  margin-right: 10px;
  margin-bottom: 20px;
}

.card-img-top {
  height: 30vh;
  overflow: hidden;
  background: #ddd;
}

.card-img-top img {
  width: 100%;
  height: auto;
}
